*{
margin: 0;
}

body {
    color: #4c4c4c;
    background-color: beige;
    font-size: 16px;
    font-family: Arial;     
}
header {
    width: 95%;
    display: inline-block;
    vertical-align: left;
    padding: 0.5em;
    background-color: beige;
}

header figure, header h1, p
{
    display: inline-block;
    vertical-align: top;
}

figure {
    width: 100%;
}

section {
    width: 100%;
    margin: 100px auto;
    height: 300px; 
}

footer {
    width: auto;
    height: auto;
    background-color: #FF8C1A;
}

.logo {
    width: 196px;
    display: inline-block;
    position: relative;
}

p {
    width: 165px;
    float: 
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}
a {
    color: forestgreen;
    
}
li {
    display: inline-block;
    margin: 0 13px;
}
li img {
    width: 50px;
   }

ul {
    padding: 0 200px;
}
